@font-face {
    font-family: 'Neue';
    src: url('fonts/neue/Neue-Bold.otf') format('opentype');
}

:root {
  /* --link-color: #ff8480; */
    --link-color: #fff;
}

html {
  /* background: radial-gradient(circle, #FfffFF, #6CB4E370 100%); */
  /* background: linear-gradient(to bottom, #eeaeca 0%, #94bbe9 100%); */
   background: linear-gradient(-45deg, #A478C1dd 0%, #DCD2FBdd 50%, #71D0EBdd 100%);
  /* background: linear-gradient(-45deg, #B26FADdd 0%, #BFB7DAdd 50%, #6CB4E3dd 100%); */
}

body {
  color: #343639;
  /* font-family: Monospace;*/
  font-family: 'Neue', sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  overflow: hidden;
  /* color:#fff; */
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.logo img {
  width: 320px;
  height: auto;
}

.link {
  position: absolute;
  color: var(--link-color);
  font-family: 'Neue', sans-serif;
  font-size: 15px;
}

.link.creators {
  top: 2vw;
  right:2vw;
}

.link.floorplan {
  bottom: 2vw;
  left: 2vw;
}

.link.credits {
  bottom:2vw;
  right:2vw;
  /* color:#fff; */
}
/* .link.credits p {
  color: #fff;
} */

.intro {
  position: absolute;
  text-align: center;
  top: 30vh;
  left: 10vw;
  color: #6a6b6c;
}

.des {
  opacity: 0;
}

.des.intro {
  opacity: 1;
}

.intro .title {
  font-size: 40px;
  text-transform: uppercase;
}

.intro .title.angle {
  font-size: 60px;
  /* background: linear-gradient(-45deg, #B26FAD90 0%, #BFB7DA40 50%, #6CB4E390 100%) url('./img/angles.png'); */
  background-image: url('img/angle.png');
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro .info {
  font-size: 20px;
}

.des.floorplan {
  position: absolute;
  top: 300px;
  left: 70px;
}

.floorplan img {
  max-width: 40vw;
  height: auto;
}

.des.credits {
  font-family: 'Neue', sans-serif;
  font-size: 12px;
  position: absolute;
  top: 60vh;
  right: 10vw;
  min-width: 15vw;
  overflow-y: scroll;
  height: 40vh;
  text-align: left;
  color:#fff;
  z-index: 9999;
}

.left {
  position: absolute;
  top: calc(30vh - 20px);
  left: 18vw;
  font-size: 80px;
  font-weight: 100;
  transform: translateZ(-200px) rotateY(-40deg) rotateX(10deg);
  font-weight: 600;
  text-shadow: 5px 5px 5px #49484820;
  z-index: 1;
}

.card {
  /* background: #fff; */
  width: 100vw;
  height: 413px;
  margin: auto;
  position: absolute;
  /* box-shadow: 0 70px 63px -60px #494848; */
  transform-style: preserve-3d;
  transition: transform .05s linear;

  /* background: linear-gradient(-45deg, #B26FAD90 0%, #BFB7DA40 50%, #6CB4E390 100%); */

}

.right {
  position: absolute;
  top: calc(60vh - 40px);
  right: 18vw;
  font-size: 80px;
  font-weight: 100;
  transform: translateZ(300px) rotateY(40deg) rotateX(10deg);
  font-weight: 600;
  text-shadow: 5px 5px 5px#49484820;
  z-index: -1;
}

#container {
  /* position: absolute; */
  background: none;
  /* z-index: 0; */
  /* transform: translateZ(10px); */

}
.creator-list{
position: absolute;
top: 50px;
min-width: 40vw;
right: 0;
overflow-y: scroll;
height: 85vh;
text-align: left;
color:#fff;
z-index: 0;
}
.creator_line{
  max-width: 50vw;
  display: flex;
  justify-content: space-between;
  padding-right:10vw;

}
.email{
  text-decoration: none;
  color:#fff;
}
.topleft {
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 99;

}

.topright {
  position: absolute;
  top: 5vh;
  right: 5vw;
  z-index: 99;
}

.bottomleft {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  z-index: 99;
}

.bottomright {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  z-index: 99;
}

.link {
  height: 20px;
}

.link a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1em;
  /* position: relative; */
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--link-color);
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link.current a:before {
  width: 100%;
  left: 0;
  background: var(--link-color);
}

.link a:hover:before {
  width: 100%;
  left: 0;
  background: var(--link-color);
}
